body, html {
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#content {
    margin: 20px;
}

.card .card-header strong {
    cursor: pointer;
}

.collapse {
    transition: height 0.3s;
    display: block !important;
    height: 0;
}

.jumbotron {
    background-color: silver;
}